{% extends "mainapp/base.html" %}

{% block content %}
<br><br>
<div class="container">
<table class="table table-bordered">
    <tr>
        <th>Newsletter</th>
        <th>Actions</th>
    </tr>
    <tr >
        <td rowspan=5>{{object.title}}</td>
    </tr>
    <tr>
        <td><a href="{% url 'newsletter_subscribe_request' object.slug %}">Subscribe</a></td>
    </tr>
    {% if not user.is_authenticated %}
    <tr>
        <td><a href="{% url "newsletter_update_request" object.slug %}">Update</a></td>
    </tr>
    {% endif %}
    <tr>
        <td><a href="{% url "newsletter_unsubscribe_request" object.slug %}">Unsubscribe</a></td>
    </tr>
    <tr>
        <td><a href="{% url "newsletter_archive" object.slug %}">Archive</a></td>
    </tr>
    <tr>
        <td><a href="../">Back to list</a></td>
    </tr>
</table>
</div>
{% endblock content %}
