{% extends "mainapp/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <br><br>
  <h5 class="">Here are the current Newsletters that you're currently subscribed to:</h5>
  <br>
{% if user.is_authenticated %}
  <form method="POST" action="">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="table table-striped table-bordered">
      <tr>
          <th colspan="4">Newsletter</th>
          {% if user %}
          <th>Subscribe</th>
          {% endif %}
      </tr>
      {% for form in formset.forms %}
        <tr>
          <td colspan="4">{{ form.id }}{{ form.newsletter }}
  <a href="{% url 'newsletter_detail' form.instance.newsletter.slug %}">{{ form.instance.newsletter.title }}</a></td>
          <td>{{ form.subscribed }}</td>
        </tr>
      {% endfor %}
    </table>
    <p><input class="btn btn-primary" id="id_submit" name="submit" value="Update subscriptions" type="submit" /></p>
  </form>
  {% else %}
  <table>
      <tr>
          <th>Newsletter</th>
      </tr>
      {% for newsletter in object_list %}
      <tr>
          <td><a href="{% url 'newsletter_detail' newsletter.slug %}">{{ newsletter.title }}</a></td>
      </tr>
      {% endfor %}
  </table>
{% endif %}
</div>
{% endblock content %}
