{% extends "mainapp/base.html" %}

{% block content %}
<br><br>
<div class="container">
    <h1>Newsletter subscribe {{ newsletter.title }}</h1>

    {% if error %}
        <p>Due to a technical error we were not able to submit your confirmation email. This could be because your email address is invalid.</p>

        {% comment %} Replace the the following dummy with a valid email address and remove this comment.

        <p>If the error persists, please don't hesitate to contact us at the following email address:<a href="mailto:info@foobar.com">info@foobar.com</a></p>

        {% endcomment %}
    {% else %}
        <form enctype="multipart/form-data" method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input id="id_submit" name="submit" value="Subscribe" type="submit" /></p>
        </form>
    {% endif %}
</div>
{% endblock content %}
