{% extends "mainapp/base.html" %}

{% block content %}
<br><br>
<div class="container">
    <h3>Unsubscribe from <b>{{ newsletter.title }}</b> newsletter</h3>
    <br>
    <p>Welcome, {{ user }}!</p>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% else %}

    <p>Do you want to unsubscribe from this newsletter?</p> 
    <form enctype="multipart/form-data" method="post" action="{% url 'newsletter_unsubscribe_confirm' newsletter.slug %}">
        {% csrf_token %}
        <p><input class="btn btn-warning" id="id_submit" name="submit" value="Unsubscribe" type="submit" /></p>
    </form>
{% endif %}
</div>
{% endblock content %}
