{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Primary Meta Tags -->
<title>Beeline Challenges</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Beeline Challenges">


<!-- Favicon -->
<link rel="icon" href="{% static 'assets/img/favicon.ico' %}" type="image/png">

<!-- Fontawesome -->
<link type="text/css" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

{% block css %}
{% endblock css %}

</head>
<body>
{% block content %}
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block js %}
{% endblock js %}
</body>

</html>
