{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}
{% include 'mainapp/navbar.html' %}

<div style="width:100%;height:350px;background:url('../../static/img/download.png');">
  <h1 style="padding-top:195px;color:#fff;font-family: 'Gilroy';" class="text-center">Privacy Policy</h1>
</div>

<section>

<div class="container">

<br>
    <div class="col-md-12">
      <p style="font-size: 18px!important;font-family: 'Gilroy'; color: red;">Privacy Policy</p>
      <p style="font-size: 18px!important;font-family: 'Gilroy';">Information will be collected from the form you complete as you register on our website or information that may be provided by your organization for purpose of generating for you a user account.</p>
      <p style="font-size: 18px!important;font-family: 'Gilroy';">The information we shall collect and store may include: your organization, name and title, email address and telephone number. We shall use Google Analytics on our sites for anonymous reporting of site usage and for advertising on the site. You are free to opt out of being part of Google analytics on our websites by writing to us on <a href="#">data@researchbeeline.com</a></p>
      <p style="font-size: 18px!important;font-family: 'Gilroy';">Research Beeline Ltd shall disclose any information provided if compelled to do by law or if there is reasonable believe that use or disclosure of such information held is necessary to protect our rights or to comply with a legal process.</p>
      <p style="font-size: 18px!important;font-family: 'Gilroy';">As our user, you have the right to verifying any of your details held by us, ask us to make corrections or object to us processing your data. It is your right at any time to change or remove personal registration information held by Research Beeline Ltd. For such requests get in touch with on <a href="#">data@researchbeeline.com</a></p>
      <p style="font-size: 18px!important;font-family: 'Gilroy';">Our website may contain hyperlinks to third party websites. Kindly note that such websites are not limited by this policy in any way and any of your data, owners of such websites may obtain from your interaction with their sites will be handled as per their privacy policy which may differ from ours.</p>
      <p style="font-size: 18px!important;font-family: 'Gilroy';">We shall use details you provide to send to you information identified to be likely of interest to you based on the preferences you will have indicated on the details provided.</p>
      <p style="font-size: 18px!important;font-family: 'Gilroy';">You have a right of altering such preferences on our websites as you deem fit and even opting out of receiving such communication.</p>
      <p style="font-size: 18px!important;font-family: 'Gilroy';">This privacy policy will be updated periodically and any such changes will be communicated to you on the email address provided by you on our websites.</p>
      <p></p>
    <div>
</div>
</section>

{% include 'mainapp/footer.html' %}
{% endblock %}
