{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
{% include 'mainapp/head1.html' %}
{% endblock css %}

{% block content %}
<header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg headroom py-lg-3 px-lg-6 navbar-dark navbar-theme-dark">
        <div class="container">
            <a class="navbar-brand @@logo_classes" href="{% url 'mainapp:homepage' %}">
                <img class="navbar-brand-dark common" src="{% static 'assets/img/logo.png' %}" style="width:200px;height:auto" alt="Logo light">
                <img class="navbar-brand-light common" src="{% static 'assets/img/logo.png' %}" style="width:200px;height:auto" alt="Logo dark">
            </a>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="{% url 'mainapp:homepage' %}">
                                <img src="{% static 'assets/img/logo.png' %}" style="width:200px;height:auto" alt="Logo Impact">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" role="button" class="fas fa-times" data-toggle="collapse"
                                data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover justify-content-center">
                    <li class="nav-item">
                        <a href="{% url 'mainapp:homepage' %}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" aria-expanded="false" data-toggle="dropdown">
                            <span class="nav-link-inner-text mr-1" >Challenges</span>
                            <i class="fas fa-angle-down nav-link-arrow" ></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg">
                            <div class="col-auto px-0" data-dropdown-content>
                                <div class="list-group list-group-flush">
                                    <a href="{% url 'mainapp:challenges' %}"
                                        class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                        <span class="icon icon-sm icon-black"><i class="fas fa-check-double"></i></span>
                                        <div class="ml-4">
                                            <span class="d-block">All Challenges</span>
                                        </div>
                                    </a>
                                    <a href="{% url 'mainapp:open-challenges' %}" 
                                        class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                        <span class="icon icon-sm icon-success"><i
                                                class="fas fa-box-open"></i></span>
                                        <div class="ml-4">
                                            <span class="d-block">Open Challenges</span>
                                        </div>
                                    </a>
                                    <a href="{% url 'mainapp:rolling' %}" 
                                        class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                        <span class="icon icon-sm icon-primary"><i
                                                class="fas fa-sync-alt"></i></span>
                                        <div class="ml-4">
                                            <span class="d-block">Open With No Deadline</span>
                                        </div>
                                    </a>
                                    <a href="{% url 'mainapp:coming-soon' %}" 
                                        class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                        <span class="icon icon-sm icon-purple"><i
                                                class="far fa-clock"></i></span>
                                        <div class="ml-4">
                                            <span class="d-block">Coming Soon</span>
                                        </div>
                                    </a>
                                    <a href="{% url 'mainapp:archived' %}" 
                                        class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                        <span class="icon icon-sm icon-danger"><i
                                                class="fas fa-archive"></i></span>
                                        <div class="ml-4">
                                            <span class="d-block">Archived Challenges</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'mainapp:about'%}" class="nav-link" >About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'news:news'%}" class="nav-link" >News</a>
                    </li>
                    <li class="nav-item">
                    <a href="{% url 'mainapp:submit-a-challenge'%}" target="_blank" class="nav-link"><i class="fas fa-paper-plane mr-2"></i>Submit a Challenge</a>
                    </li>
                    
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'users:account_login' %}" class="nav-link" >Login or Register</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'userprofiles:profile' %}" class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item">
                    <a href="{% url 'account_logout' %}" class="nav-link" >Logout</a>
                    </li>
                    {% endif %}  
                </ul>
            </div>
            <div class="d-flex d-lg-none align-items-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global"
                    aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
            </div>
        </div>
    </nav>
</header>

    <main>
        <section class="section-header pb-4 pb-lg-3 mb-0 mb-lg-2 text-white" style="background-image:linear-gradient( #2a0854, #6441a5)">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                      <div class="card-profile-image">
                        <div class="rounded-circle" style="max-width: 140px;width:100px;height:100px;border-radius: 0.375rem;border: 3px solid #fff;transform: translate(-50%, -50%) scale(1);position: absolute;left: 50%;transition: all 0.15s ease;background-color:#ed8f03">
                        <span class="text-white" style="display: flex;  justify-content: center; font-size:60px;  align-items: center;">{{avatar_holder}}</span>
                        </div>
                    </div><br><br><br>
                        <h5 class="display-5 pb-2"><i class="fa fa-user"></i>&nbsp;&nbsp;
                          {% if the_user.first_name and the_user.last_name %}
                          {{the_user.first_name}}&nbsp;{{the_user.last_name}}
                          {% else %}
                          {{the_user.user}}
                          {% endif %}
                        </h5>
                        {% if view_contact_info %}
                        <h5 class="display-5 pb-2"><i class="fa fa-envelope"></i>&nbsp;&nbsp;
                          {% if the_user.user.email %}
                          <a href="mailto:{{the_user.user.email}}">{{the_user.user.email}}</a>
                          {% endif %}
                        </h5>
                        <h5 class="display-5 pb-2"><i class="fa fa-briefcase"></i>&nbsp;&nbsp;
                          {% if the_user.organization %}
                          {{the_user.organization }}
                          {% endif %}
                        </h5>
                        {% else %}
                        <h5 class="display-5 pb-2">The user hasn't authorized the viewing of their info</h5>
                        {%endif%}
                    </div>
                </div>
            </div>
        </section>
{% if view_bookmarks %}
<section class="section section-lg bg-soft" style="padding-top:3.5rem!important;">
    <div class="container" style="max-width:1300px;">
      <h3 class="display-3 text-center mt--4">Here are their favourite Challenges</h3>
      {%else%}
<section class="section section-lg bg-white" style="padding-top:3.5rem!important;">
    <div class="container" style="max-width:1300px;">
      <h3 class="display-3 text-center mt--4">Nothing to see here at the moment</h3>
      {%endif%}
        <div class="row">
          {% if view_bookmarks %}
            {% for post in favourite_posts %}
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 card-group">
                <div class="card animate-up-3 mt-5" style="border-radius:15px;">
                    <div class="date" style="background-color:#EE5050; padding:2px 4px; border-radius:5px;position: absolute;top: 14px;left:16px;">
                        {% if post.status == 'Open' %}
                        <span class="day font-weight-bolder text-white">{{post.open_until|timeuntil:post.date_posted}} left</span>
                        {% else %}
                        <span class="day font-weight-bolder text-white">Ongoing</span>
                        {% endif %}
                    </div>
                    <!-- <ul class="menu-content" style="position: absolute;top: 14px;right: 16px;">
                        {% if user.is_authenticated %}
                        {% for cha in post.favourite.all%}
                        {% if cha.username == user.username %}
                        <li>
                            <a class="fas fa-bookmark" style="box-shadow: 0 8px 16px rgba(0, 0, 0, 0.95); color:white"></a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </ul> -->
                    <a href="{% url 'mainapp:detail' post.id post.slug %}">
                        <img src="{{post.image.url}}" class="card-img-top" style="height:200px;width:100%">
                    </a>
                    <div class="card-body bg-white" style="border-radius:0 0 15px 15px;box-shadow: 0 15px 12px rgba(0, 0, 0, 0.2)">
                        <p><span class="author text-black font-weight-bolder">{{post.offered_by|truncatewords:"3"}}</span>
                            <span class="text-black font-weight-bolder pr-2" style="float:right!important">Status 
                            <span class="badge badge-success badge">
                            {% if post.status == 'Open' %}
                            Open
                            {% else %}
                            Ongoing
                            {% endif %}
                            </span></span>
                        </p>
                        <h5 class="card-title"><a href="{% url 'mainapp:detail' post.id post.slug %}">{{post.title|truncatewords:"5"}}</a></h5>
                        <p class="card-text">{{post.challenge_summary|truncatechars:"150"|safe}}</p>
                        <p class="text-black pt-3 font-weight-bolder"><i class="fas fa-trophy text-brown"></i>&nbsp;{{post.prize|truncatechars:"40"|safe}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {%endif%}
        </div>
    </div>
    <br><br>

</section>
{% endblock content %}

{% block footer %}
<!-- {% include 'mainapp/footer2.html' %} -->
{% endblock footer %}

    </main>

{% block js %}
{% include 'mainapp/head1-bottom.html' %}
{% endblock js %}

